package {{.}}

import (
	"embed"

	"github.com/gobuffalo/buffalo"
)

var (
	//go:embed app/templates public migrations config
	embedded embed.FS

	// FS used by the app, these are based on the embed.FS declared
	// in the fs variable.
	Assets     = buffalo.NewFS(embedded, "public")
	Templates  = buffalo.NewFS(embedded, "app/templates")
	Migrations = buffalo.NewFS(embedded, "migrations")
	Config     = buffalo.NewFS(embedded, "config")
)