package {{.}}

import (
	"embed"

	"github.com/gobuffalo/buffalo"
)

var (
	//go:embed app/templates public migrations config
	fs embed.FS

	// FS used by the app, these are based on the embed.FS declared
	// in the fs variable.
	Assets     = buffalo.FS(fs, "public")
	Templates  = buffalo.FS(fs, "app/templates")
	Migrations = buffalo.FS(fs, "migrations")
	Config     = buffalo.FS(fs, "config")
)