name: Tests
on: [push]
jobs:
  lint:
    name: GolangCI Linter
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      
  tests-off:
    name: ${{matrix.os}} - Go v${{matrix.go-version}} 
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: 
          - '1.16.x'
          - '1.17.x'
        os: 
          - 'macos-latest'
          - 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v2
      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
          
      - name: Test
        run: go test -tags sqlite -cover  ./...    
      
      - name: Integration Tests
        run: go test -tags "sqlite,integration" -cover  ./cli/... 